@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
body {
  font-family: "Black Ops One", system-ui;
  text-align: center;
}

#board {
  /* background-color: skyblue; */
  background-image: url("flappybirdbg.png");
}
